body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-color: hsl(225, 100%, 94%);
    background-image: url(/images/pattern-background-desktop.svg);
    background-size: contain;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
   
}   

.card {
    background-color: #fff;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 200px auto;
    border-radius: 18px;
    text-align: center;

}

.top-image {
    background-image: url(/images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}


.plan {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: hsl(225, 100%, 94%);
}

.plan-text {
    
}
.button {
    text-align: center;
    place-self: center;
}
.payment-btn p {
    background-color: hsl(245, 75%, 52%);
    padding: 10px 30px;
    width: 50%;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

.cancel p {
    background-color: hsl(225, 100%, 98%);
    padding: 10px 30px;
    width: 50%;
    color: hsl(224, 23%, 55%);
    text-align: center;
    border-radius: 10px;
}