@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    background: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-position:top;
    background-size: contain;
    background-repeat: no-repeat;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    width: 45%;
    max-width: 450px;
    margin:50px auto;
    background: #fff;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.picture {
    width: 100%;

}

.picture img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px;
    
}
.text {
    text-align: center;
}
p {
    color: hsl(224, 23%, 55%);
    margin-top: 10px;
    line-height: 1.5;
}

.plan {
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    gap: 20px;
    width: 100%;
}


.plan a {
    margin-left: 30%;
    color: hsl(245, 75%, 52%);
}

.proceed {
    text-align: center;
}

.proceed a {
    text-decoration: none;   
}

.cancel:hover {
    font-weight: 900;
    cursor: pointer;
    color: #000;
}

.button {
    color: white;
    background-color: hsl(245, 75%, 52%);
    padding: 15px;
    border-radius: .75rem;
    margin-bottom: 30px;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.button:hover {
    background-color: hsl(245, 75%, 72%);
}


@media screen and (max-width: 900px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .content {
        padding: 25px 15px;
    }

    .plan a {
        margin-left: 30px;
}